# This is your PyYtDownloader-Remastered app.config File
# If you don't know what you're doing, please close this File immideatly and use the Settings Window.
# If you know what you're doing, you should commit to the Repository! ;)
#
# https://github.com/iLollek/PyYtDownloader-Remastered

CustomOutputPath || None
YouTubeCookiePath || None
ColorTheme || BlueTheme
UseSFX || True
UseProxy || False
UseCookie || False
ProxyHost || public.proxy.net
ProxyPort || 8080